.partners
  display flex
  align-items center
  justify-content center
  flex-wrap wrap
  gap 0 55px
  margin-bottom 35px

.partner__item img
  max-width 100%

.warning
  display flex
  align-items center
  justify-content center
  flex-wrap wrap
  gap 0 60px
  padding-bottom 30px

.footer__inner
  padding 35px 0 0 0
  border-top 1px solid #fb5936

  p
    font-weight 300
    font-size 16px
    line-height 1.5
    text-transform capitalize
    color #1e1e1e
    margin-bottom 15px

    &:last-child
      margin-bottom 0

    & a
      text-decoration underline
      color #fb5936

      &:hover
        text-decoration none
