mixin partners()
  .partners
    .partner__item
      img(src='img/pictures/partner-1.png' alt='Neteller')
    .partner__item
      img(src='img/pictures/partner-2.png' alt='Mastercard/Visa')
    .partner__item
      img(src='img/pictures/partner-3.png' alt='Skrill')
    .partner__item
      img(src='img/pictures/partner-4.png' alt='CASHlib')
    .partner__item
      img(src='img/pictures/partner-5.png' alt='Interac')
    .partner__item
      img(src='img/pictures/partner-6.png' alt='Mifinity')
    .partner__item
      img(src='img/pictures/partner-7.png' alt='Crypto')
    .partner__item
      img(src='img/pictures/partner-8.png' alt='CashToCode')

  .warning
    .warning__item
      img(src='img/pictures/kahnawake.png' alt='Kahnawake')
    .warning__item
      img(src='img/icons/18+.svg' alt='18+')
    .warning__item
      img(src='img/pictures/play-responsibly.png' alt='Responsibly')

  .footer__inner
    p The&nbsp;Impressario Casino&nbsp;website is licensed under Starscream Limited, a company incorporated under the laws of Saint Lucia with registration number 2023-00007, and a registered address in Saint Lucia. Starscream Limited is licensed and regulated in virtue of a Client Provider Authorization, numbered 00952, issued on July 2023, by the Kahnawake Gaming Commission.
    p Gambling can be addictive, so please Play Responsibly. For help, visit our 
      a(href='https://impressariocasino.com/responsible-gaming' target='_blank') Responsible Gambling
      |  page.
    p Underage gambling is an offence. 18+.&nbsp;Impressario Casino&copy; Copyright 2024.

