.header
  position absolute
  top 0
  left 0
  right 0
  z-index 9
  padding 39px 15px

  &__container
    display flex
    align-items center
    justify-content center
    max-width 1340px
    padding 0 20px
    margin 0 auto
    column-gap 30px

  &__logo
    img
      width 256px
      pointer-events none
      user-select none