@media (max-width 1248px)
  .page-section__row
    .cta__picture
      img
        width 480px

    .characters
      left 40%

      &--impressario
        width 547px

      &--zeus
        width 972px

    .game__name
      right -40px

      img
        width 450px

    .game__name-decoration
      width 680px
      height 468px
      top 442px
      right -100px

@media (max-width 1024px)
  .page-section--main
    background-size cover

  .page-section__row
    .cta
      left -5%

    .cta__picture
      img
        width 380px

    .characters
      &--impressario
        width 400px

      &--zeus
        width 750px

    .game__name
      top 430px
      right -120px

      img
        width 350px

    .game__name-decoration
      width 500px
      height 350px
      top 350px
      right -20px

  .cloud-top
    top 450px

    img
      width 1400px

@media (max-width 890px)
  .page-section__row
    .cta
      left -10%
    
    .game__name
      right -200px

      img
        width 300px

  .decoration-arrow
    img
      width 100%

@media (max-width 745px)
  .header
    padding 20px 10px

  .header__logo
    img
      width 180px

  .page-section__row
    .cta
      display block
      width 100%
      left auto
      padding-top 70px
      padding-bottom 400px

    .cta__picture
      position relative
      left 0
      right 0
      width 100%

      img
        width 250px

    .button
      position relative
      bottom -340px
      width 180px
      font-size 16px
      padding 10px

    .characters
      position relative
      top -230px
      bottom auto
      left auto
      right auto
      display flex
      align-items center
      margin-top 120px
      width 500px
      margin 0 auto

      &--impressario
        width 80%
        left -20px

      &--zeus
        top auto
        left -50px
        width 150%

    .game__name
      top 530px
      width 100%
      right 0
      left 0
      text-align center

      img
        width 250px

  .cloud-top
    top 550px
    left -700px

    img
      width auto

  .terms-conditions
    padding-bottom 80px

    &__title
      font-size 22px

    &__item
      font-size 16px

    .button
      width 180px
      font-size 16px
      padding 10px

@media (max-width 450px)
  .page-section__row
    .characters
      left -50px

@media (max-width 400px)
  .page-section__row
    .characters
      left -90px